@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

/* footer {
  content-visibility: auto;
  contain-intrinsic-size: 1000px;
} */

blockquote {
  background: #f9f9f9;
  border-left: 1px solid #ccc;
  /* margin: 1.5em 10px; */
  /* padding: 0.5em 10px; */
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 3em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

.slick-next:before {
  color: black!important;
}
.slick-prev:before {
  color: black!important;
}
.slick-prev{
  left: 10px!important;
  position: absolute;
  z-index: 99;
}
.slick-next{
  right: 10px!important;
  position: absolute;
  z-index: 99;
}

.rich-text-content > p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}